DEVICE=br-{{ item.key }}
NAME="Bridge br-{{ item.key }} ({{ item.value.device }})"
TYPE=Bridge
ONBOOT=yes
BOOTPROTO=static
IPADDR={{ item.value.ipv4.address }}
PREFIX={{ item.value.ipv4.prefix }}
{% if item.value.ipv4.gateway is defined %}
GATEWAY={{ item.value.ipv4.gateway }}
{% endif %}
{% if item.value.ipv4.nameserver is defined %}
DNS1={{ item.value.ipv4.nameserver }}
{% endif %}
{% if item.value.domain is defined %}
DOMAIN={{ item.value.domain }}
{% endif %}
IPV6INIT=no
NM_CONTROLLED=no
