#
# See if we can rename the alternate interfaces
#
{% for iface in bridges %}
# PCI device
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", \
  ATTR{address}=="{{ iface.mac }}",           \
  ATTR{type}=="1", NAME="if-{{ iface.key }}"
{% endfor %}
