#
# See if we can rename the alternate interfaces
#
{% for ifname, ifspec in dict_item.items() %}
# PCI device
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", \
  ATTR{address}=="{{ ifspec.mac }}",           \
  ATTR{type}=="1", NAME="if-{{ ifname }}"
{% endfor %}
